<h1>All Events</h1>

<ul>
  <% @venues.each do |venue| %>
    <li>
      <h1><%= venue.name %></h1>
      <ul>
        <% venue.events.each do |event| %>
          <li>
            <a href='<%= event.url %>'>
              <h3><%= event.name %> - <%= event.date %></h3>
              <p><%= event.description %></p>
            </a>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %> 
</ul>
